:root{
  --ff-primary: "Arial Rounded MT Bold";
  --ff-secondary: arial;

  --fw-reg:  300;
  --fx-bold: 900;
  --fx-light: 150;

  --clr-font-light:  #FCF9F7;
  --clr-font:   #121212;
  --clr-font-secondary: #19802C;
  --clr-green: #3DCD58;
  --clr-blue: #42B4E6;
  --clr-grey: #E7E6E6;

  --fs-h1:   25px;
  --fs-h2:   20px;
  --fs-p:    12px;
  --fs-nav:  25px;
}
body {
  background-color: #FCF9F7;
}

html{
  scroll-behavior: smooth;
}

/* Header */
.header-top {
  display: flexbox;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin-left:auto;
  margin-right: auto;
  box-shadow: 0px 12px 7px -15px rgb(112, 112, 112);
}

.logo-top {
  float: left;
  width: 200px;
  height: auto;
  padding-left: 15px;
}

.btn-top {
  width: 150px;
  height: 50px;
  margin-right: 15px;
  background-color: var(--clr-grey);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-style: none;
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #A5A2A2;
  text-align: center;
  cursor: pointer;
}

.active, .btn-top:hover {
  color: var(--clr-font-light);
  background-color: var(--clr-green);
  text-decoration: underline;
}


.logo{
  width: 200px;
}

.nav-ikon{
  width: 200px;
  cursor: pointer;
}

/* Mobil */
@media (max-width:768px){

.header-top {
  display: flexbox;
  justify-content: center;
  width: 100%;
  height: 25px;
  margin-left:auto;
  margin-right: auto;
  box-shadow: 0px 12px 7px -15px rgb(112, 112, 112);
}

.logo-top {
  float: left;
  width: 100px;
  vertical-align: middle;
  height: auto;
  padding-left: 15px;
}

.btn-top {
  width: 100px;
  height: 35px;
  margin-right: 15px;
  background-color: var(--clr-grey);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-style: none;
  float: right;
  font-family: var(--ff-secondary);
  font-size: 15px;
  color: #A5A2A2;
  text-align: center;
  cursor: pointer;
}

.active, .btn-top:hover {
  color: var(--clr-font-light);
  background-color: var(--clr-green);
  text-decoration: underline;
}

.logo{
  width: 100px;
}

.nav-ikon{
  width: 150px;
 }
}
/* Header */
.infografik{
  display: flex;
  margin: auto;

}
/* Navbar */
/* Desktop */
.logo{
  margin-left: -10px;
}

li{
  list-style: none;
}

a{
  color: var(--clr-font);
  font-family: var(--ff-secondary);
  text-decoration: none;
}

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu{
  position: absolute;
  float: none;
  left: 20%;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  font-size: var(--fs-nav);
  font-weight: var(--fx-bold);
}

.nav-link{
  transition: 0.7s ease;
}

.nav-link:hover{
  color: var(--clr-font-secondary);
  text-decoration: underline;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: var(--clr-font-light);
}

/* mobil */
@media (max-width:768px){
.hamburger{
  display: block;
  justify-content: right;
  position: relative;
  float: none;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: var(--clr-green);
  cursor: pointer;
  transition: all .2s ease;
}

.hamburger.active .bar:nth-child(2){
  opacity: 0;
}
.hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu{
  position: fixed;
  left: -200%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  background-color: var(--clr-font-light);
  width: 100%;
  opacity: 90%;
  font-family: var(--ff-primary);
  font-weight: var(--fx-bold);
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  z-index: 9999;
}

.nav-item{
  margin: 16px 0;
}

.nav-menu.active{
  left: -10%;
}
}
/* Navbar*/

/* TopVideo */
#wiservideo {
  padding-top: 35%;
  position: relative;
  top: 10%;
  left: 50%;
  width: 100%;
  height: 30%;
  z-index: -100;
  transform: translate(-50%, -50%);
}

.green-border {
  position: relative;
  width: 100%
}
/* TopVideo */

/* Navigation grå main */
.nav-bg {
  background-color: #FCF9F7;
  width: 100%;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  text-align: center;
  padding: 10px 0px 50px 0px;
  justify-content: center;
  display: block;
  margin-top: -45%;
}

.bg-btn {
  background-color: var(--clr-grey);
  width: 910px;
  height: 75px;
  border-radius: 30px;
  justify-content: center;
  align-content: center;
  margin: auto;
}
.nav-btn {
  background-color: var(--clr-grey);
  height: 75px;
  width: 300px;
  border-style: none;
  border-radius: 30px;
  color: var(--clr-font);
  font-family: var(--ff-secondary);
  font-size: var(--fs-nav);
  font-weight: var(--fx-bold);
}

.nav-btn:hover {
  color: var(--clr-green);
  border-style: groove;
  border-color: var(--clr-green);
}
/* Navigation grå main */
/* Navigation grå 2 */
.bg-btn2 {
  background-color: var(--clr-grey);
  width: 910px;
  height: 50px;
  border-radius: 30px;
  justify-content: center;
  margin: auto;
}
.nav-btn2 {
  background-color: var(--clr-grey);
  height: 50px;
  width: 300px;
  border-style: none;
  border-radius: 30px;
  color: var(--clr-font);
  font-family: var(--ff-secondary);
  font-size: var(--fs-nav);
}

.nav-btn2:hover {
  color: var(--clr-green);
  border-style: groove;
  border-color: var(--clr-green);
}
/* Navigation grå 2 */

.h1{
  font-size: var(--fs-h1);
  font-family: var(--ff-primary);
  color: var(--clr-font-secondary);
  text-align: center;
}

.h2{
  font-size: var(--fs-h2);
  font-family: var(--ff-secondary);
  color: var(--clr-font);
  font-weight: lighter;
  text-align: center;
}

.ytvid {
  width: 700px;
  height: 500px;
  display: flex;
  margin: auto;
}

.content {
  display: flex;
	flex-direction: row;
  justify-content: space-around;
  align-items: top;
  padding: 25px 25px 55px 25px;
}

.cirkler {
  height: 250px;
  width: 250px;
  border-radius: 250px;
  background-color: var(--clr-blue);
  padding: 40px 10px 0px 20px;
  align-items: center;
  justify-content: center;
  color: var(--clr-font-light);
  text-align: center;
  font-family: var(--ff-secondary);
  font-size: var(--fs-nav)
}

.image {
  width: 100%;
}

/* Slider */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  background-color: rgba(61,205,88,0.3)
}

/* Hide the images by default */
.slides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--clr-green);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--clr-green);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--clr-green)
}
/* Slider */



/* Footer */
.footer{
  background-color: var(--clr-green);
  width: 100%;
  height: auto;
  border-top-left-radius: 220px;
  border-top-right-radius: 220px;
  display: flex;
	flex-direction: row;
  justify-content: space-around;
  align-items: top;
  padding: 25px 0px 25px 0px;
}

.footer-os{
  width: 150px;
  height: auto;
  font-family: var(--ff-secondary);
  font-size: var(--fs-p);
  color: var(--clr-font-light);
  text-align: left;
}

.footer-txt{
  width: 300px;
  height: auto;
  font-family: var(--ff-secondary);
  font-size: var(--fs-p);
  color: var(--clr-font);
  text-align: left;
}

.blue-btn {
  background-color: var(--clr-blue);
  width: 100px;
  height: 50px;
  border-radius: 20px;
  border-style: none;
  text-align: center;
  color: var(--clr-font-light);
  font-family: var(--ff-secondary);
  cursor: pointer;
}
/* Footer */
